@import "./variables";
@import "./components/search-section";
@import "./components/info-card";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
a {
  cursor: pointer;
}

main {
  background-color: hsl(220, 40%, 13%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  min-height: 100vh;
}

.home__container {
  width: 50%;

  .navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .navbar__title {
      font-size: 32px;
      color: $white;
    }

    .navbar__btn {
      background-color: transparent;
      background-image: url(../assets/icon-sun.svg);
      color: $white;
      background-repeat: no-repeat;
      background-position: right;
      width: 100px;
      font-weight: 700;
      font-size: 13px;
    }
  }
}

.error {
  color: $color-error;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: $breakpoint-xl) {
  .home__container {
    width: 65%;
  }
}

// tablet
@media screen and (max-width: $breakpoint-lg) {
  .home__container {
    width: 70%;
  }
}

// mobile
@media screen and (max-width: $breakpoint-md) {
  .home__container {
    width: 90%;
  }
}
