body.light {
  background-color: $bg-main;
}
.light {
  .home__container {
    .navbar {
      .navbar__title {
        color: $text-color;
      }

      .navbar__btn {
        color: $text-color;
        background-image: url(../assets/icon-moon.svg);
      }
    }
  }

  .search-section {
    background-color: $bg-content;

    .search-section_left {
      .search-section_input {
        color: $text-color;

        &::placeholder {
          color: $text-color;
        }
      }
    }
  }

  .info-card {
    background-color: $bg-content;
    .info-card__top {
      .info-card__header {
        color: $user-name-color;
      }
    }

    .info-card__header-desc {
      color: $text-color;
    }

    .info-card__bottom-content {
      background-color: $bg-main;
      .title {
        color: $text-color;
      }

      .number {
        color: $number-color;
      }
    }

    .info-card__media-item {
      color: $text-color;

      p,
      a {
        opacity: 1;
        color: $text-color;
      }
    }
  }

  .search-section .search-delete-icon i {
    color: $black;
  }
}
