// colors
$bg-main: hsl(227, 100%, 98%);
$bg-content: hsl(0, 0%, 100%);
$text-color: hsl(217, 35%, 45%);
$user-name-color: hsl(217, 21%, 21%);
$number-color: hsl(217, 21%, 21%);
$blue: hsl(212, 100%, 50%);
$light-blue: hsl(217, 20%, 51%);
$dark-blue: hsl(217, 35%, 45%);
$dark-blue-darker: hsl(222, 41%, 20%);
$very-dark-blue: hsl(217, 21%, 21%);
$white: hsl(0, 0%, 100%);
$btn: hsl(212, 100%, 50%);
$btn-hover: hsl(212, 100%, 69%);
$box-shadow: 0px 16px 30px -10px hsla(227, 46%, 50%, 0.2);

// breakpoints (1440px, 768px, 375px)
$breakpoint-sm: 375px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
